{% extends 'base.html' %} {% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %} {% block content %}
    <form action="/auth/register" method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required/>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required/>
        <label for="description">Description</label>
        <input name="description" id="description" required/>
        <button type="submit" formaction="/auth/register">Register</button>
    </form>
{% endblock %}
